body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grow {
  flex-grow: 1;
  margin: 30px;
}

.wrapper {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 90vw;
  padding: 30px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#container > div {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 20vw;
}

#container > div > input {
  margin: 5px 10px;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 15px;
}

button {
  background-color: transparent;
  color: white;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  color: black;
  background-color: white;
}

.title {
  align-items: center;
  margin: 30px;
  font-size: 20px;
}

#container > div > input:focus {
  outline: none;
}

#container > div > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ABDCF6;
  border: solid 1px #ABDCF6;
  border-radius: 15px;
}

#container > div > input::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
